<EditForm Model="@AvailableRoom" OnValidSubmit="EventCallback">
    <div id="main" class="mb-4">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Guests</label>
            <div>
                <InputSelect @bind-Value="@AvailableRoom.Guests" class="form-control-sm w-100">
                    @foreach (var i in numberOfGuest)
                    {<option>@i</option>}
                </InputSelect>
                <ValidationMessage For="@(() => AvailableRoom.Guests)" />
            </div>
        </div>
        <div class="form-group ">
            <div>
                <label>Check in</label>
                <div>
                    <input type="date" @oninput="@((ui) => { UpdateCheckIn((string)ui.Value);})" 
                           format-value="yyyy-MM-dd" value="@AvailableRoom.CheckInDate.ToString("yyyy-MM-dd")" 
                           min="@AvailableRoom.CheckInDate.ToString("yyyy-MM-dd")" 
                           max="9999-12-31" class="form-control-sm w-100">
                </div>
            </div>
        </div>
        <div class="form-group ">
            <div>
                <label>Check out</label>
                <div>
                    <input type="date" @oninput="@((ui) => { UpdateCheckOut((string)ui.Value);})" 
                           format-value="yyyy-MM-dd" value="@AvailableRoom.CheckOutDate.ToString("yyyy-MM-dd")" 
                           min="@AvailableRoom.CheckOutDate.ToString("yyyy-MM-dd")" 
                           max="9999-12-31" class="form-control-sm w-100">
                </div>
            </div>
        </div>
        <div class="search-btn">
            <button name="Search" aria-label="Search" type="submit" class="btn btn-outline-light btn-sm h-50 mt-4">Search</button>
        </div>
    </div>
</EditForm>
