<EditForm Model="@Booking" OnValidSubmit="@OnValidSubmit">
    <div id="main">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Guests</label>
            <div>
                <InputSelect @bind-Value="@Booking.Guests" class="p-1">
                    @foreach (var i in NumberOfGuest)
                    {<option>@i</option>}
                </InputSelect>
                <ValidationMessage For="@(() => Booking.Guests)" />
            </div>
        </div>
        <div class="form-group ">
            <div>
                <label>Check in</label>
                <div>
                    <InputDate @bind-Value="@Booking.CheckInDate"></InputDate>
                    <ValidationMessage For="@(() => Booking.CheckInDate)" />
                </div>
            </div>
        </div>
        <div class="form-group ">
            <div>
                <label>Check out</label>
                <div>
                    <InputDate @bind-Value="@Booking.CheckOutDate"></InputDate>
                    <ValidationMessage For="@(()=> Booking.CheckOutDate)"></ValidationMessage>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success"> Search</button>
    </div>
</EditForm>
