@page "/booking"

@if (ConfirmedBooking == null)
{
    <CheckinForm EventCallback="GetRoom" AvailableRoom="AvailabilityRequest" />
    <h1 class="display-4">Booking</h1>
    <h4>Check In: @AvailabilityRequest.CheckInDate.ToString("MM/dd/yyyy")</h4>
    <h4>Check Out: @AvailabilityRequest.CheckOutDate.ToString("MM/dd/yyyy")</h4>
    if (AppState.Rooms != null)
    {
        <div class="lead pb-4">
            <ul class="list-group">
                @foreach (var room in AppState.Rooms)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @room.RoomType
                        <span class="badge badge-light"><button class="btn btn-info" @onclick="@(() => AppState.SetPickedRoom(room.RoomInfo))">Choose</button></span>
                    </li>

                }
            </ul>
        </div>
        <div class="pt-4">
            <CustomerForm OnValidSubmit="@CreateBooking"></CustomerForm>
        </div>
    }
    else
    {
        <p>For us to show you available rooms, please tell us how many you are and what dates you intend to stay.</p>
    }
}
else
{
    <ConfirmationPage ConfirmedBooking="@ConfirmedBooking"></ConfirmationPage>
}