@page "/booking"

@if (ConfirmedBooking == null)
{
    <CheckinForm EventCallback="GetRoom" AvailableRoom="AvailabilityRequest" />
    <div class="show-date" style="display:@showDate">
        <h4>Check In: @AvailabilityRequest.CheckInDate.ToString("dddd, dd MMMM yyyy")</h4>
        <h4>Check Out: @AvailabilityRequest.CheckOutDate.ToString("dddd, dd MMMM yyyy") </h4>
    </div>

    if (AppState.Rooms != null)
    {
        <div class="form-content">
            <h5 class="heading" b-5qoe286ebo="">CHOOSE A ROOM</h5>
            <table class="table table-hover table-light">
                <thead>
                    <tr class="top-row">
                        <th scope="col">Title</th>
                        <th scope="col">Beds</th>
                        <th scope="col">Doublebeds</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in AppState.Rooms)
                    {
                        <tr @onclick="@(() => RadioSelection(room.RoomInfo))" class="@((AppState.PickedRoom == room.RoomInfo) ? "selected" : "")">
                            <td>@room.RoomTypeInfo</td>
                            <td>@room.RoomInfo.Beds</td>
                            <td>@room.RoomInfo.DoubleBeds</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="pt-4">
            <CustomerForm OnValidSubmit="@CreateBooking"></CustomerForm>
        </div>
    }
    else
    {
        <p>For us to show you available rooms, please tell us how many you are and what dates you intend to stay.</p>
    }
}
else
{
    <ConfirmationPage ConfirmedBooking="@ConfirmedBooking"></ConfirmationPage>
}
