@page "/booking/cancel/{bookingNumber}"
@page "/booking/cancel"

<h3>Cancel Booking</h3>

@if (Bookinginfo == null)
{
    <p>Not found booking information</p>
}
else
{
    if(!Bookinginfo.IsCanceled)
    {
<div class="column">
    <div class="col">Your Booking number is: <b>@BookingNumber</b></div>
    <div class="col">Your Firstname is: <b>@Bookinginfo.FirstName</b></div>
    <div class="col">Your Lastname is: <b>@Bookinginfo.LastName</b></div>
    <div class="col">With the Check in Date: <b>@Bookinginfo.CheckInDate.ToString("dd/M/yyyy")</b></div>
    <div class="col">With the Check out Date: <b>@Bookinginfo.CheckOutDate.ToString("dd/M/yyyy")</b></div>
    <div class="col">Your room type is: <b>@RoomViewModel.RoomType</b></div>
    <br />
    <div class="searchform">
        <input class="form-control mr-sm-2 search" type="search" placeholder="Enter your Email to delete booking" @bind="Email" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" @onclick="@CancelBooking">Delete</button>
    </div>
</div>
    }
    else
    {
        <h3>Can't find your booking</h3>
    }
}

    @code {

    }
