@page "/booking/cancel/{bookingNumber}"
@page "/booking/cancel"

<h3>Cancel Booking</h3>

@if (bookinginfo == null)
{
        <p>Not found booking information</p>
}
else
{
        <p>@bookinginfo.Id</p>
        <p>@bookinginfo.BookingNumber</p>
        <p>@bookinginfo.CheckInDate</p>
        <p>@bookinginfo.CheckOutDate</p>
        <p>@bookinginfo.Room</p>
        <p>@bookinginfo.Email</p>
        <p>@bookinginfo.Guests</p>
        <p>@bookinginfo.Breakfast</p>
        <p>@bookinginfo.SpaAccess</p>
}

@code {

}